<div class="modal-footer">
        <button id="addassociation-modal" type="button" class="btn btn-primary add-btn">{{#str}} add, wikifilter{{/str}}</button>
        <button id="modifyassociation-modal" type="button" class="btn btn-primary modify-btn hidden" data-item="">{{#str}} modify, wikifilter{{/str}}</button>
        <button id="cancel-modal" type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, wikifilter{{/str}}</button>
      </div>
    </div>
  </div>
</div>
